// Body
$body-bg: #f8fafc;
$color-white: #fff;
$color-black: #000;

// Typography
$primary-font-family-sans-serif: 'Nunito', sans-serif;
$secondary-font: 'Sunflower', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
